    <footer>
        <footer-wrapper>             
            <article class="footer-articulo">
                <i class="fas fa-credit-card footer-icono"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con eCommerce Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article class="footer-articulo">
                <i class="fas fa-gift footer-icono"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en eCommerce tenés envíos gratis en miles de productos. Es un beneficio de eCommerce Puntos.</p>
            </article>     
            <article class="footer-articulo">
                <i class="fas fa-user-shield footer-icono"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En nuestro eCommerce, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article>  
        </footer-wrapper>
            <div class="footer-copyright-wrapper">
                <div class="footer-copyright">
                    <h6>Copyright © 1999-2023 eCommerce S.R.L.</h6>
                </div>        
            </div>
    </footer>    
</body>
</html>