<head>
  <link rel="icon" type="image/png" href="images/favicon.ico" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>eCommerce</title>
  <link href="/css/styles-footer.css" rel="stylesheet" />
  <link href="/css/styles-forms.css" rel="stylesheet" />
  <link href="/css/styles-header.css" rel="stylesheet" />
  <link href="/css/styles-header-navbar.css" rel="stylesheet" />
  <link href="/css/styles-main.css" rel="stylesheet" />
  <link href="/css/styles-products.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/styles-layout.css" rel="stylesheet" />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
    rel="stylesheet"
  />  
</head>
