<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <link href="/css/styles-footer.css" rel="stylesheet" />
    <link href="/css/styles-forms.css" rel="stylesheet" />
    <link href="/css/styles-header.css" rel="stylesheet" />
    <link href="/css/styles-main.css" rel="stylesheet" />
    <link href="/css/styles-products.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <!-- Bootstrap Grid Stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header-main">
      <div class="header-banner">
        <a href="/">
          <img class="img-banner-icon" src="/images/meli-icon.png" alt="Mercado Liebre" />      
        </a>
      </div>
      <div class="header-banner-big">
        <a href="/">          
          <img class="img-banner" src="/images/meli.png" alt="Mercado Liebre" />          
        </a>
      </div>
      <div class="header-search-bar">
        <form id="buscador" action="search" method="get" target="_blank">
          <input type="search" name="busqueda" placeholder="Buscar productos, marcas y más..." />
          <button class="fa fa-search" type="submit" value="Buscar"></button>
        </form>
      </div>
      <div class="header-compra-en-cuotas">
        <i class="fas fa-hand-holding-usd header-compra-en-cuotas-icono"></i>
        Compra en cuotas y sin tarjeta de credito
      </div>
      <div class="header-burger-menu-container">
        <a href="#"></a><i class="fas fa-bars header-burger-menu-button"></i>
      </div>
      <nav class="header-left-menu">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </nav>
      <nav class="header-right-menu">
        <ul>
          <li>
            <a href="/users/register">Crea tu cuenta</a
            ><i class="far fa-address-card header-right-menu-icono"></i>
          </li>
          <li>
            <a href="/users/login">Ingresa</a>
            <i class="fas fa-sign-in-alt header-right-menu-icono"></i>
          </li>
          <li>
            <a id="miscompras" href="">Mis Compras</a
            ><i class="fas fa-shopping-basket header-right-menu-icono"></i>
          </li>
        </ul>
      </nav>
     
    </header>

    <script>
      document
        .getElementById("buscador")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          alert("falta implementar el buscador");
        //   var busqueda =
        //     document.getElementById("buscador").elements.busqueda.value;
        //   window.location.href = "/search?busqueda=" + busqueda;
        });
    document.getElementById("miscompras").addEventListener("click", function (e) {
      e.preventDefault();
      alert("falta implementar mis compras");
    });
    </script>
  </body>
</html>
