<article class="caja-general-articulo"> 
    <% let imagen = "/images/" + p.imagen %>
    <img src= <%= imagen %> alt="<%= p.titulo %>">
    <div class="caja-interior-articulo">                      
        <p class="precios">$23.200</p>
        <p class="descuentos">5% off</p>                    
        <i class="fas fa-truck articulo-icon"></i>
    </div>
        <h3 class="descripciones"><%= p.titulo %></h3>                
</article>