<%- include ("partials/header") %>

    <main>  
        <section> 
            <h2>Productos:</h2>            
        
        <div class="contenedor-main">        

            <% productos.forEach( p => { %>

            <%- include ("partials/product", {p : p, toThousand: toThousand}) %>

            <% }) %>
        </div>

        </section>
        <br>
        <!-- <section>
            <h2>Ofertas</h2> 

        <div class="contenedor-main"> -->
            
            <!-- <% productos.forEach( p => { %>

                <%- include ("partials/product", {p : p, toThousand: toThousand}) %>    
                <% }) %> -->
        <!-- </div>       
        </section>          -->
    </main>
    <script type="application/javascript">
        function showMsg(item) {
        alert(item);
    }
    </script>
    
    <%- include ("partials/footer") %>