<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="images/favicon.ico"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>    
    <link href="css/styles.css" rel="stylesheet"/>
    <link href="css/styles-resp.css" rel="stylesheet"/>
    <link href="css/animation.css" rel="stylesheet"/>    
</head>
<body>
    <div id="contenedor"> ¿¿¿ Responsive ???</div>
    <div class="oculto1"> La resolucion es muy chica !!! </div>
    <div class="oculto2"> La resolucion esta bien asi, gracias </div>
    <div class="oculto3"> La resolucion es muy ancha !! </div>
    <div class="resizer">
        <div class="terminal"></div>
    </div>
</body>
</html>