.terminal {    
    width: 241px;    
    height: 176px;    
    background: url("/images/css_sprites_25.png");
    background-position-x: 0px;
    background-position-y: 0px;
    margin: auto;
    animation: playX 1s steps(2) infinite,
               playY 2s steps(2) infinite;
  }

  @keyframes playX {
    from {background-position-x: 0px;}
    to {background-position-x: -484px;}
  }
  @keyframes playY {
    from {background-position-y: 0px;}
    to {background-position-y: -352px;}
  }