.footer-articulo {
  text-align: center;
  max-width: 15rem;
  padding: 0 1rem;
}

.footer-articulo p {
  text-align: center;
  color: var(--gray);
  font-size: 0.8rem;
}

.footer-icono {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--green);
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: center;
}

.footer-copyright {
  font-size: 1rem;
  text-align: left;
  padding: 10px;
  color: #666;
  background-color: var(--primary);
}