/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

/*====== Global Variables ======*/
:root {
  --primary: #e5f5c4;
  --logo: #B6FF00;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --green-dark: #267a32;
  --base-font-family: 'Roboto', sans-serif
}

/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {  
  margin: 0;
  font-size: 0.8rem;
  font-family: var(--base-font-family);
  font-weight: 300;
  background-color: var(--light-gray);  
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}

main {
  min-height: 70vh;  
}

@media(min-width: 500px) {

  .contenedor-main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .caja-general-articulo {
    width: 45%;
  }

  .descripciones {
    display: block;
  }

  .caja-general-articulo:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .precios {
    font-size: 24px;
    width: 100%;
  }

  .descuentos {
    font-size: 10px;
  }
}

@media(min-width: 768px) {  

  .caja-general-articulo {
    width: 22%;
  }

  .formulario-register-container,
  .formulario-login-container {
    width: 50rem;
  }

}