
.header-main {
    background-color: var(--primary);
    font-family: Roboto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    padding-top: 1rem;  
    padding-bottom: 1rem;  
  } 

  .header-banner-col-1 {                 
    flex-grow: 0.5;    
    flex-basis: 10rem;    
    text-align: center;    
  } 

 .header-banner-col-1 > a {    
    margin: 0px;
    padding: 0px;
  }

  .header-banner-col-1 > a > img {    
    max-height: 10rem;
  }
  
  .header-search-bar-col-2 {    
    flex-grow: 1; 
    align-self: center;
    justify-self: center;      
  }
  
  .header-search-bar-col-2 form {
    display: flex;
    justify-content: center;        
  }
  
  .header-search-bar-col-2 form input[type=search] {     
    font-size: 1.5rem;
    border: 1px solid #EEE;
    border-bottom: 1px solid #999;
    width: 90%;
      
  }
  
  .header-search-bar-col-2 form input[type=search]::placeholder {
    color: rgb(137, 137, 137);
    opacity: 1;
  }
  
  .header-search-bar-col-2 form button {          
    height: 3rem;
    width: 2.5rem;
    background: #fff;
    font-size: 1.5rem;    
    cursor: pointer;
    border: 1px solid #EEE;
    border-bottom: 1px solid #999;
    padding: 0;  
  }
  
  .header-compra-en-cuotas-col-3 {  
    flex-basis: 200px; 
    display: flex;
    flex-grow: 0.75;
    justify-content: center;  
    align-items: flex-start;       
    font-size: 1.5rem;  
    flex-grow: 0.5rem;  
    text-align: center;      
  } 

  .header-compra-en-cuotas-icono {
    display: inline-block;
    color: black;   
    text-align: right;         
  }
  