
/* FOOTER */

  #pie-de-pagina {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  margin: 0 auto;
  width: 100%;
  background-color: var(--primary);
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 1rem;
  min-height: 15vh;
  }
  
  .icono-pie-de-pagina {
    margin-bottom: 10px;
    font-size: 3rem;
    color:  var(--green);
  }
  
  .pie-de-pagina-articulo {
    margin-top: 40px;
    margin-right: 20px;
    max-width: 250px;
    text-align: center;
    margin: auto;
  }
  
  .pie-de-pagina-articulo p {
    text-align: center;
    color: #666;
  }
  
  .copyright {
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    color: #666;
    background-color: var(--primary);
  }

  @media(min-width: 768px) { 
  
    .pie-de-pagina-articulo {
      max-width: 250px;
    }
  
    #pie-de-pagina {
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
  }