/* Global */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto; 
   /* border: 1px solid gray;*/
}

/* Etiquetas */

a { text-decoration: none; 
    color:black; 
    font-size: 12px;    
}

ul {
    line-height: 0.9rem;
}

h2 { font-size: 24px; }

header {
    background-color: #EAC926;       
    };

p { font-size: 12px; }

/* id y Clases */

#banner-img {     
    padding:20px; 
    width: 150px;
    min-width: 150px;
}

#burger-menu {   
    display: table; 
    background-color: blue;
    color: white;     
    border-radius: 5px;
    padding: 11px;   
    margin: 0 auto;     
    font-size: 1.3rem;
}

#compra-en-cuotas {
    margin: 0 auto; 
    text-align: center; 
    padding: 10px;     
}

.descuentos {
    font-size: 16px;
}

.descripciones {
    font-size: 16px;
}

.icono-pequeno {   
    color: black;   
    padding-left: 2px;
    font-size: 12px;      
}

.icono-grande {      
    margin-bottom: 10px;
    font-size: 2em;
    color: #1259c3;;    
}

#pie-de-pagina {
    text-align: center;
    margin: 0 auto;    
    width: 40%;
}

.pie-de-pagina-articulo {    
    margin-top: 40px;
    max-width: 300px;
    min-width: 200px;
}

.copyright {
    text-align: left;
    padding: 10px;
    color: #666;    
}

.precios {
    font-size: 18px;
}

#search-bar-input {     
    background-color: white; 
    padding: 2px;    
    text-align: left;      
    border: 2px solid #666; 
    display: inline-block;    
    margin-left: 20px;    
    color: #666;
}

#search-bar-lupa {
    background-color: white; 
    padding: 2px;    
    text-align: left;  
    border: 1px solid gray; 
    display: table;
    margin-left: 20px; 

}






