
.header-navbar-main {
    display: flex;
    background-color: var(--primary);    
    align-items: center;
    justify-content: center;          
  } 
  
  .header-left-menu {    
    display: none;    
  }
  
  .header-right-menu {    
    display: none;  
  }
  
  .header-left-menu ul,
  .header-right-menu ul {
    display: flex;    
  }
  
  .header-left-menu ul li,
  .header-right-menu ul li {
    list-style-type: none;
    padding: 5px;
  }
  
  .header-left-menu ul li a,
  .header-right-menu ul li a {
    text-decoration: none;    
    font-size: 1.0rem;
  }  
 
  .header-right-menu-icono-1,
  .header-right-menu-icono-2,
  .header-right-menu-icono-3 {
    color: black;
    padding-left: 0.35rem;
    font-size: 1rem;
    display: inline-block;
    text-align: right;
  }
  
  .header-right-menu-icono-2 
  {   
   padding: 0;
  }

  .header-right-menu-icono {
    width: 10%;    
  } 

  .invisible {
    background-color: red;
    opacity: 0;
  }
  
  .header-burger-menu-container {	
    text-align: center;    
  }
  
  .header-burger-menu-button {  
    padding: 0.2rem;
    font-size: 1.5rem;
    /* color: var(--green); */
    padding-left: 0.4rem;
  }
  
  .header-cart-container {	
    text-align: center;    
  }
  
  .header-cart-button {   
    padding: 0.2rem;
    font-size: 1.5rem;
    /* color: var(--green); */
  }

  
  @media(min-width: 1024px) {
	
    /* Icono Hamburguesa Oculto */
   
   .header-burger-menu-container {
     display: none;
   }  
   
   .header-cart-container {
     display: none;
   } 
 
   /* Muestra los menus */
   .header-left-menu {
     display: flex;
     width: 46vw;
     justify-content: flex-start;
   }
 
   .header-right-menu {
     display: flex;
     width: 46vw;
     justify-content: flex-end;
   }
 
 }