
.header-navbar-main {
    background-color: var(--primary);
    font-family: Roboto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;      
  } 
  
  .header-left-menu {    
    display: none;
    justify-content: flex-start;
  }
  
  .header-right-menu {    
    display: none;
    justify-content: flex-end;
  }
  
  .header-left-menu ul,
  .header-right-menu ul {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .header-left-menu ul li,
  .header-right-menu ul li {
    padding: 5px;
    list-style-type: none;
  }
  
  .header-left-menu ul li a,
  .header-right-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.0rem;
  }  
 
  .header-right-menu-icono-1,
  .header-right-menu-icono-2,
  .header-right-menu-icono-3 {
    color: black;
    padding-left: 0.35rem;
    font-size: 1rem;
    display: inline-block;
    text-align: right;
  }
  
  .header-right-menu-icono-2 
  {   
   padding: 0;
  }

  .header-right-menu-icono {
    width: 10%;    
  } 
  
  .header-burger-menu-container {	
    text-align: center;    
  }
  
  .header-burger-menu-button {
    /* align-items: center; */
    /* text-align: center; */
    /* background-color: var(--green); */
    /* color: white; */
    /* border-radius: 5px; */
    /* padding: 10px 10px; */
    /* margin: 0 auto; */
    font-size: 2rem;
  }
  
  .header-cart-container {	
    text-align: center;    
  }
  
  .header-cart-button {
    /* align-items: center; */
    /* text-align: center; */
    /* background-color: var(--green); */
    /* color: white; */
    /* border-radius: 5px; */
    /* padding: 10px 10px; */
    /* margin: 0 auto; */
    font-size: 2rem;
  }