/*====== Products ======*/

.product-row {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.product-col-1 {
  display: flex;
  flex-direction: column;
}

.product-col-2 {
  display: flex;
}

@media(min-width: 1024px) {

  .product-row {
    display: flex;
    flex-direction: row;
  }

  .product-col-1 {
    display: flex;
    width: 70%;
  }

  .product-col-2 {
    display: flex;
    width: 30%;
  }
}

.products-title {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.product-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 1.5rem 0;
}

.product-box a {
  display: block;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
}

.product-box_data {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 1.5em;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.product-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

.buy-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--green);
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  transition: background-color 0.5s;
}

/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 4px rgb(0 0 0 / 10%);
  width: 80%;
  margin: 0 auto;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid var(--light-gray);
  padding: 15px;
  height: 100%;
  width: 100%;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2rem;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.8em;
  line-height: 1.5;
}

.product-detail-price {
  font-size: 4.5em;
  margin: 5px 0;
}

.product-detail-price-before {
  font-size: 1.2rem;
  margin: 0 auto;
}

.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}


.actions-list {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 0px 0;
  padding: 5px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2rem;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}

.action-button.delete {
  background-color: rgb(248, 69, 37);
}