.header-main {
        background-color: #EAC926;  
        font-family: Roboto;            
        display: flex;    
        width: 100%; 
        flex-wrap: wrap;  
        align-items: center; 
        justify-content: center;                    
        }

.header-banner { 
        width: 48vw;
        display: inline-block;
        margin: auto;
        padding: 10px;
        /* background-color: red; */
        }
        
.header-ads { 
        width: 96vw;         
        /* background-color: red; */
        }

.header-search-bar { 
        width: 48vw;        
        flex-grow: 3;  
        padding: 10px;   
        /* display: flex; */
        /* justify-content: center;
        align-items: center;
        flex-wrap: nowrap;         */
        }
.header-search-bar form
{
display: flex;
}

.header-search-bar form input[type=search]
        {
         flex-basis: 40%;
         flex-grow: 3;
         padding: 5px;
         width: 100px;
         font-size: 1rem;
         /* border: 1px solid gray;          */
         /* height: 28px; */
         }

.header-search-bar form button
 {      
        flex-basis: 10%;
        flex-grow: 0;
        padding: 5px;        
        background: #fff;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        /* border: 1px solid gray */
}

.header-compra-en-cuotas {
        width: 96vw;
        padding: 10px;
        text-align: center;  
        font-size: 12px;    
        flex-grow: 0.1no;    
        /* background-color: yellow;      */
        } 

.header-left-menu {
        /* background-color:white; */
        display: none;        
        justify-content: flex-start;          
}

.header-right-menu {
        /* background-color:gray; */
        display: none;  
        justify-content: flex-end;      
}

.header-left-menu ul, .header-right-menu ul{
        display: flex; 
        flex-wrap: nowrap;                  
}

.header-left-menu ul li, .header-right-menu ul li{
        padding: 5px;   
        list-style-type: none;                                     
}

.header-left-menu ul li a, .header-right-menu ul li a
{
        text-decoration: none;
        color:black; 
        font-size: 10px; 
        }

.header-compra-en-cuotas-icono, .header-right-menu-icono {   
        color: black;   
        padding-left: 2px;
        font-size: 12px;      
        display: inline-block
        }

.header-burger-menu-container
{
        text-align: center;
        padding-bottom: 10px;
}        

.header-burger-menu-button {  
        align-items: center; 
        text-align: center;      
        background-color: #1259c3;
        color: white;     
        border-radius: 5px;
        padding: 10px 10px;   
        margin: 0 auto;        
        font-size: 1.3rem;
        }

@media(min-width: 500px) { 
        
        /* Proporciones para Tablet */
        .header-banner { 
                width: 30vw;                 
                }        
        .header-search-bar { 
                width: 30vw;        
                }  
        .header-compra-en-cuotas
                {
                width: 30vw;
                } 
        /* Icono Hamburguesa Oculto */                
        .header-burger-menu-container
        {
        display: none;
        } 
        
        /* Muestra los menus */                
        .header-left-menu {
        display: flex;
        width: 46vw;
        }        
        .header-right-menu {
        display: flex;
        width: 46vw;
        }        
 }

 @media(min-width: 768px) { 
        .header-banner { 
                width: 20vw;                 
                }       
       
        .header-compra-en-cuotas {
                width: 40vw;
                font-size: 14px;
                } 
        .header-left-menu ul li a, .header-right-menu ul li a
                {              
                font-size: 14px; 
                }
             
 }
