.formulario-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  margin-top: 7rem;
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px 4px rgb(0 0 0 / 10%);
  font-size: 1rem;
  max-width: 40rem;
}

.formulario-container a {
  text-decoration: none;
}

.formulario-titulo {
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bolder;
  letter-spacing: .0125rem;
  padding: 0.8rem;
  text-align: center;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.formulario>label {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 .4285714286em .4285714286em;
  color: #000;
  padding-top: 1rem;
}

.label-sin-weight {
  font-weight: 100;
  font-size: 1.2rem;
}

.formulario div {
  padding: 0.3rem 0.5rem;
}

.formulario-perfil-usuario {
  flex-direction: row;
}

.formulario-botones-container {
  width: 100%;
  margin: 0 auto;
  min-width: 5rem;
}

.formulario button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--green);
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  transition: background-color 0.5s;
  width: 100%;
}

.formulario button:hover {
  background-color: var(--green-dark);
}

.olvidaste-contrasenia {
  color: var(--green-dark);
  font-weight: bold;
  font-size: 1rem;
  justify-content: flex-start;
}

.formulario input[type="password"],
.formulario input[type="text"],
.formulario input[type="file"],
.formulario input[type="datetime-local"] {
  background-color: white;
  padding: 1rem;
  border: 0.2rem solid #ebebeb;
  border-radius: 4px;
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 1.2rem;
}