.layout-main {
  margin: 0 auto;
  background-color: var(--layout-main);
  /* min-height: calc(100vh - 10rem); */
  width: 100%;
  max-width: 100rem;
  padding: 0.5rem 1rem;
  padding-bottom: 4rem;
}

.layout-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--layout-contenedor);
}

.layout-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--layout-footer);
  max-width: 100rem;
  width: 100%;  
  padding-top: 2rem;
  margin: 0 auto;  
}

.layout-footer-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--layout-footer);
}

@media(min-width: 600px) {
  .layout-footer-wrapper {
    flex-direction: row;
  }
}

.layout-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary);
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.layout-header-wrapper {
  width: 100%;
  max-width: 100rem;
  padding: 0.5rem 1rem;
  background-color: var(--layout-header);
}

.layout-header-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--layout-header-row-1);
}

.layout-header-row-2 {
  display: flex;
  background-color: var(--primary);
  align-items: center;
  justify-content: center;
  background-color: var(--layout-header-row-2);
}

.layout-header-left-menu {
  display: none;
}

.layout-header-right-menu {
  display: none;
}

@media(min-width: 1024px) {

  /* Muestra los menus */
  .layout-header-left-menu {
    display: flex;
    width: 46%;
    max-width: 25rem;
    justify-content: flex-start;
  }

  .layout-header-right-menu {
    display: flex;
    width: 46%;
    max-width: 25rem;
    justify-content: flex-end;
  }

}